@import "bootstrap-sprockets";
@import "bootstrap";
//

.posts {
  border: 3px solid black;
}

.post-content {
  text-align: left;
  margin: 10px 10px 10px 10px;
}

.title {
  margin: 5px;
  font-variant: small-caps;
}

.commentcontent {
  text-align: center;
}

.postshow {
  border: 1px solid black;
  margin-bottom: 5px;
}

body {
  padding-top: 60px;
  margin: 0 auto;
}

body .container {
  width: 980px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.thumnbnail {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#postform {
  border: 1px black solid;
}

.navbar-header {
  color: white;
}

.post-content {
  margin: 0px 0px 0px 200px;
}
